@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print {
    display: none !important;
  }
  body {
    background-color: white !important;
  }
  .grid {
    display: block !important; /* Stack cards vertically for cleaner printing */
  }
}